.nav_title {
    background: #121314;
}

body {
    background: #121314;
    color: #444346;
}

.left_col {
    background: #121314;
}

.nav.side-menu > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#171819, #171819), #171819;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; }

.sidebar-footer {
    background: #121314;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
  border-right: 5px solid #FF4800; }
  
.nav.side-menu > li.current-page, .nav.side-menu > li.active {
  border-right: 5px solid #FF4800; }
  

.select-info {
  margin-left: 30px;
}

tr.selected {
  background-color: #FFC5CB !important;
}

.outlook_window {
  width: 100%;
  background-color: #DEDEDE;
  border: 1px solid #838383;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.outlook_header {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.outlook_from {
  font-size: 14pt;
}

.outlook_subject {
  
  font-size: 12pt;

}

.outlook_to {
  margin-top: 10px;
  font-size: 9pt;
  padding-bottom: 20px;
}

.outlook_message {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #A5ACB5;
  padding: 12px 12px 12px 12px;
}

.outlook_message a {
  color: #0000EE;
  text-decoration: underline;
}